<div class="dialogContainer">
    <mat-dialog-content>
        <div class="formTitle">
            How would you rate this task in terms of structure?
        </div>

        <div class="buttonContainer">
            <mat-grid-list cols="{{structureButtons?.length}}" gutterSize="5px" rowHeight=100px>
                <mat-grid-tile *ngFor="let button of structureButtons; let i = index">
                    <button class="flatGreyButton" mat-flat-button [color]="button.status ? 'primary' : ''" (click)="">{{button.text}}<button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-dialog-content>
</div>
